<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginSrvlt</servlet-name>
        <servlet-class>MeditorServlets.LoginSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupProcessorSrvlt</servlet-name>
        <servlet-class>MeditorServlets.GroupProcessorSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignVisitorGroupSrvlt</servlet-name>
        <servlet-class>MeditorServlets.AssignVisitorGroupSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetVisitorLeaderSrvlt</servlet-name>
        <servlet-class>MeditorServlets.SetVisitorLeaderSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignVisitorSrvlt</servlet-name>
        <servlet-class>MeditorServlets.AssignVisitorSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitInfoSrvlt</servlet-name>
        <servlet-class>MeditorServlets.VisitInfoSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowVisitSrvlt</servlet-name>
        <servlet-class>MeditorServlets.ShowVisitSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVisitSrvlt</servlet-name>
        <servlet-class>MeditorServlets.EditVisitSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVisitSrvlt</servlet-name>
        <servlet-class>MeditorServlets.UpdateVisitSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowVisitsPerCycleSrvlt</servlet-name>
        <servlet-class>MeditorServlets.ShowVisitsPerCycleSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctorSrvlt</servlet-name>
        <servlet-class>MeditorServlets.DeleteDoctorSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltersSrvlt</servlet-name>
        <servlet-class>MeditorServlets.AsyncUpdateDoctorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsyncUpdateDoctorList</servlet-name>
        <servlet-class>MeditorServlets.AsyncUpdateDoctorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsyncUpdateVisitorList</servlet-name>
        <servlet-class>MeditorServlets.AsyncUpdateVisitorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVisitsSrvlt</servlet-name>
        <servlet-class>MeditorServlets.CreateVisitsSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCycleSrvlt</servlet-name>
        <servlet-class>MeditorServlets.SelectCycleSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSrvlt</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutSrvlt</servlet-name>
        <servlet-class>MeditorServlets.LogoutSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutSrvlt</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupProcessorSrvlt</servlet-name>
        <url-pattern>/GroupProcessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignVisitorGroupSrvlt</servlet-name>
        <url-pattern>/AssignVisitorGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetVisitorLeaderSrvlt</servlet-name>
        <url-pattern>/SetVisitorLeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignVisitorSrvlt</servlet-name>
        <url-pattern>/AssignVisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitInfoSrvlt</servlet-name>
        <url-pattern>/VisitInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowVisitSrvlt</servlet-name>
        <url-pattern>/ShowVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVisitSrvlt</servlet-name>
        <url-pattern>/EditVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVisitSrvlt</servlet-name>
        <url-pattern>/UpdateVisit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowVisitsPerCycleSrvlt</servlet-name>
        <url-pattern>/ShowVisitsPerCycle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctorSrvlt</servlet-name>
        <url-pattern>/DeleteDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsyncUpdateDoctorList</servlet-name>
        <url-pattern>/AsyncUpdateDoctorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsyncUpdateVisitorList</servlet-name>
        <url-pattern>/AsyncUpdateVisitorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVisitsSrvlt</servlet-name>
        <url-pattern>/CreateVisits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCycleSrvlt</servlet-name>
        <url-pattern>/SelectCycle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
