<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginSrvlt</servlet-name>
        <servlet-class>MeditorServlets.LoginSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupProcessorSrvlt</servlet-name>
        <servlet-class>MeditorServlets.GroupProcessorSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignVisitorGroupSrvlt</servlet-name>
        <servlet-class>MeditorServlets.AssignVisitorGroupSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetVisitorLeaderSrvlt</servlet-name>
        <servlet-class>MeditorServlets.SetVisitorLeaderSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSrvlt</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutSrvlt</servlet-name>
        <servlet-class>MeditorServlets.LogoutSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutSrvlt</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupProcessorSrvlt</servlet-name>
        <url-pattern>/GroupProcessor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignVisitorGroupSrvlt</servlet-name>
        <url-pattern>/AssignVisitorGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetVisitorLeaderSrvlt</servlet-name>
        <url-pattern>/SetVisitorLeader</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
