<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginSrvlt</servlet-name>
        <servlet-class>MeditorServlets.LoginSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignVisitorSrvlt</servlet-name>
        <servlet-class>MeditorServlets.AssignVisitorSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDoctSrvlt</servlet-name>
        <servlet-class>MeditorServlets.addDoctSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitDocServlet</servlet-name>
        <servlet-class>MeditorServlets.SubmitDocServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDocSrvlt</servlet-name>
        <servlet-class>MeditorServlets.SearchDocSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEditSrvlt</servlet-name>
        <servlet-class>MeditorServlets.SearchEditSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitEditDocSrvlt</servlet-name>
        <servlet-class>MeditorServlets.CommitEditDocSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminMedReportsSrvlt</servlet-name>
        <servlet-class>MeditorServlets.AdminMedReportsSrvlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProduceVstReportSrvlt</servlet-name>
        <servlet-class>MeditorServlets.ProduceVstReportSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSrvlt</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutSrvlt</servlet-name>
        <servlet-class>MeditorServlets.LogoutSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutSrvlt</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignVisitorSrvlt</servlet-name>
        <url-pattern>/AssignVisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDoctSrvlt</servlet-name>
        <url-pattern>/addDoctSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitDocServlet</servlet-name>
        <url-pattern>/SubmitDocServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDocSrvlt</servlet-name>
        <url-pattern>/SearchDocSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEditSrvlt</servlet-name>
        <url-pattern>/SearchEditSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitEditDocSrvlt</servlet-name>
        <url-pattern>/CommitEditDocSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMedReportsSrvlt</servlet-name>
        <url-pattern>/AdminMedReportsSrvlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProduceVstReportSrvlt</servlet-name>
        <url-pattern>/ProduceVstReportSrvlt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
